
<div class="main_content queues monitoring statistics">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/queues" routerLinkActive="active">Queues</a></li>
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/export" routerLinkActive="active">Export</a></li>
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/associations" routerLinkActive="active">Associations</a></li>
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/storage-commitment" routerLinkActive="active">Storage commitments</a></li>
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/storage-systems" routerLinkActive="active">Storage systems</a></li>
        <li role="presentation" routerLinkActive="active"><a role="tab" routerLink="/monitoring/diff" routerLinkActive="active">Diff</a></li>
    </ul>
    <div class="tab-content">
        <div class="row filter">
            <div class="main_filter_block">
                <div class="col-md-3 block-1-1">
                    <div class="row">
                        <label class="col-md-6 text-right control-label">From date/time:</label>
                        <div class="col-md-6">
                            <p-calendar
                                    [(ngModel)]="range.from"
                                    dateFormat="yy-mm-dd"
                                    showTime="showTime"
                                    hourFormat="24"
                                    monthNavigator="true"
                                    yearNavigator="true"
                                    yearRange="1800:2100"
                                    placeholder="Start date/time"
                                    (ngModelChange)="studyDateTimeChanged($event,'from')"
                            ></p-calendar>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-6 text-right control-label">To date/time:</label>
                        <div class="col-md-6">
                            <p-calendar
                                    [(ngModel)]="range.to"
                                    dateFormat="yy-mm-dd"
                                    showTime="showTime"
                                    hourFormat="24"
                                    monthNavigator="true"
                                    yearNavigator="true"
                                    yearRange="1800:2100"
                                    placeholder="End date/time"
                                    (ngModelChange)="studyDateTimeChanged($event,'to')"
                            ></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 block-2-1 block_half">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default submit col-md-12" (click)="search()" title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </div>
                <a class="clearform_button" title="Clear all filters" href="" (click)="$event.preventDefault();clearForm()">
                    Clear <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <div class="statistics_content">
            <div class="count_block_row">
                <div class="count_block">
                    <h3>{{studieStored.label}}</h3>
                    <label *ngIf="studieStored.count != undefined">{{studieStored.count}}</label>
                </div>
                <div class="count_block">
                    <h3>{{retriev.label}}</h3>
                    <label *ngIf="retriev.count != undefined">{{retriev.count}}</label>
                </div>
                <div class="count_block">
                    <h3>{{queries.label}}</h3>
                    <label *ngIf="queries.count != undefined">{{queries.count}}</label>
                </div>
                <div class="count_block">
                    <h3>{{errors.label}}</h3>
                    <label *ngIf="errors.count != undefined" class="text-danger">{{errors.count}}</label>
                </div>
            </div>
            <div class="table_block">
                <div class="header" (click)="toggleBlock('USERIDQUERIES',$event)">
                    <h3>Queries / User ID</h3>
                </div>
                <div class="diagram_content" *ngIf="toggle === 'USERIDQUERIES' && histogramData.querieUserID.ready.labels.length > 0">
                    <canvas baseChart
                            *ngIf="histogramData.querieUserID.show"
                            [datasets]="histogramData.querieUserID.ready.data"
                            [labels]="histogramData.querieUserID.ready.labels"
                            [options]="barChartOptions"
                            [colors]="pieChartColor"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="diagram_content no_data" *ngIf="toggle === 'USERIDQUERIES' && histogramData.querieUserID.ready.labels.length === 0">
                    <h3>{{histogramData.querieUserID.noDataText}}</h3>
                </div>
            </div>
            <div class="table_block">
                <div class="header" (click)="toggleBlock('AUDITEVENTS',$event)">
                    <h3>Audit Events</h3>
                    <input *ngIf="toggle === 'AUDITEVENTS'" type="text" [(ngModel)]="searchlist" placeholder="Search...">
                </div>
                <div class="table_content" *ngIf="toggle === 'AUDITEVENTS'">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>AuditSourceID</th>
                                <th>EventID</th>
                                <th>EventActionCode</th>
                                <th>Patient ParticipantObjectName</th>
                                <th>Study ParticipantObjectID</th>
                                <th>AccessionNumber</th>
                                <th>Source UserID</th>
                                <th>Requestor UserID</th>
                                <th>EventOutcomeIndicator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of auditEvents | search:searchlist | slice:moreAudit.start:moreAudit.limit">
                                <td>{{item.Time | date:'yyyy.MM.dd HH:mm:ss'}}</td>
                                <td tooltip="{{item.AuditSourceID}}">{{item.AuditSourceID | trim:14}}</td>
                                <td tooltip="{{item.EventID}}">{{item.EventID | trim:20}}</td>
                                <td>{{item.ActionCode}}</td>
                                <td tooltip="{{item.Patient}}">{{item.Patient | trim:20}}</td>
                                <td tooltip="{{item.Study}}">{{item.Study |trim:40}}</td>
                                <td tooltip="{{item.AccessionNumber}}">{{item.AccessionNumber|trim:15}}</td>
                                <td tooltip="{{item.userId}}">{{item.userId |trim:15}}</td>
                                <td>{{item.requestorId}}</td>
                                <td>{{item.EventOutcomeIndicator}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="load_more" *ngIf="auditEvents && moreAudit.limit <= auditEvents.length && toggle === 'AUDITEVENTS'" (click)="loadMoreAudit()"><i *ngIf="moreAudit.loaderActive" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>More</button>
            </div>
        </div>
    </div>
</div>