<form id="editDevice" name="editDevice" ng-cloak> 
	<div sf-schema="dynamic_schema" sf-form="dynamic_form" sf-model="dynamic_model"></div>
	<hr  ng-show="showEcho()">
	<div ng-show="showEcho()" class="echo col-md-12">
		<h4>Send echo to Network AE</h4>
		<div class="echo_block col-md-12">
			<div class="col-md-6">
				<span>Select one AET:</span>
				<select 
					name="aet" 
					ng-model="selectedAet" 
					ng-options="obj.title as obj.title for obj in aets track by obj.title">
				</select>
			</div>
			<div class="col-md-6">
				<span>Remote AET:</span>
				{{selectedPart.dicomNetworkAE}}			
			</div>
		</div>
		<div class="btn col-md-2" ng-click="echo()">Echo</div>
	</div>
</form>
