<div class="vex vex-theme-os diff">
    <div class="vex-dialog-form">
        <h5>Compare Diff</h5>
        <div md-dialog-content>
            <div class="first_diff table_block" [ngClass]="{selected: selectedVersion === 'FIRST'}">
                <div class="header">
                    <h3>{{aet1}}</h3>
                </div>
                <div class="diff_content">
                    <!--{{currentStudy.primary | json}}-->
                    <table>
                        <tr *ngFor="let primaryKey of currentStudyIndex" [ngClass]="{diff_line: currentStudy.primary[primaryKey].diff,active:activeTr === primaryKey}" (mouseenter)="activateTr(primaryKey)" (mouseleave)="clearTr()">
                            <td>{{DCM4CHE.elementName.forTag(primaryKey,privateCreator(primaryKey))}}</td>
                            <td>{{primaryKey}}</td>
                            <td>
                                <ng-container *ngIf="_.hasIn(currentStudy.primary,[primaryKey,'object','Value',0]) && !_.hasIn(currentStudy.primary,[primaryKey,'object','Value',0,'Alphabetic'])">{{currentStudy.primary[primaryKey].object.Value[0]}}</ng-container>
                                <ng-container *ngIf="_.hasIn(currentStudy.primary,[primaryKey,'object','Value',0,'Alphabetic'])">{{currentStudy.primary[primaryKey].object.Value[0].Alphabetic}}</ng-container>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="checkbox_content">
                    <md-checkbox  [ngModel]="selectedVersion === 'FIRST'" (ngModelChange)="changeSelectedVersion('FIRST')">Select this version as the right one</md-checkbox>
                </div>
            </div>
            <div class="second_diff table_block" [ngClass]="{selected: selectedVersion === 'SECOND'}">
                <div class="header">
                    <h3>{{aet2}}</h3>
                </div>
                <div class=" diff_content">
                    <table>
                        <tr *ngFor="let secondaryKey of currentStudyIndex" [ngClass]="{diff_line: currentStudy.secondary[secondaryKey].diff,active:activeTr === secondaryKey}" (mouseenter)="activateTr(secondaryKey)" (mouseleave)="clearTr()">
                            <td>{{DCM4CHE.elementName.forTag(secondaryKey,privateCreator(secondaryKey))}}</td>
                            <td>{{secondaryKey}}</td>
                            <td>
                                <ng-container *ngIf="_.hasIn(currentStudy.secondary,[secondaryKey,'object','Value',0]) && !_.hasIn(currentStudy.secondary,[secondaryKey,'object','Value',0,'Alphabetic'])">{{currentStudy.secondary[secondaryKey].object.Value[0]}}</ng-container>
                                <ng-container *ngIf="_.hasIn(currentStudy.secondary,[secondaryKey,'object','Value',0,'Alphabetic'])">{{currentStudy.secondary[secondaryKey].object.Value[0].Alphabetic}}</ng-container>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="checkbox_content">
                    <md-checkbox  [ngModel]="selectedVersion === 'SECOND'" (ngModelChange)="changeSelectedVersion('SECOND')">Select this version as the right one</md-checkbox>
                </div>
            </div>
        </div>
        <div class="arrows">
            <a class="prev" [attr.disabled]="index === 0 ? true : null" (click)="$event.preventDefault();prepareStudyWithIndex(index-1)" title="Show previous diff"><span class="glyphicon glyphicon-chevron-left"></span> <span class="text">PREVIOUS</span></a>
            <a class="next" [attr.disabled]="index === (studies.length-1) ? true : null" (click)="$event.preventDefault();prepareStudyWithIndex(index+1)" title="Show next diff"><span class="text">NEXT</span> <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="dialogbuttons">
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CLOSE</button>
            <button class="save" type="button" (click)="dialogRef.close(null)">SYNCHRONIZE THIS ENTRYS</button>
        </div>
    </div>
</div>