<div class="vex vex-theme-os diff">
    <div class="vex-dialog-form">
        <h5>Diff</h5>
        <div md-dialog-content>
            <div class="first_diff table_block">
                <div class="header">
                    <h3>{{aet1}}</h3>
                </div>
                <div class="diagram_content">
                    first
                </div>
            </div>
            <div class="second_diff table_block">
                <div class="header">
                    <h3>{{aet2}}</h3>
                </div>
                <div class="diagram_content">
                    second
                </div>
            </div>
        </div>
        <div class="dialogbuttons">
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCEL</button>
        </div>
    </div>
</div>